<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel |  Manage Exam Centers, Invigilators and more</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <style>
        .loginform{
            padding: 1% 2% 1% 2%;
            margin-top:2%;
            border-radius: 5% 5%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DBT EXAM</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.dbtindia.nic.in">DBT Website</a></li>
                    <li><a href="http://www.dbtindia.nic.in/help/">Help</a></li>
                    <li class="active"><a href="/adminlogin">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row col-md-12 text-center">
            <div class="col-md-6 col-md-push-3 loginform well well-lg">
                <h2 style="opacity: 0.8">Admin Login<br></h2>
                <% if(status){%>
                <div class="alert alert-danger  alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error! </strong><%=error%>
                </div>
                <form class="form-horizontal" method="post" action="/adminlogin">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Username:</label>
                        <div class="col-md-10">
                            <input type="name" class="form-control" id="name" name="name" placeholder="Enter Username:"
                                   value="<%=prev.name%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="pwd">Password:</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="pwd" name="passwd" placeholder="Enter password"
                                   value="<%=prev.passwd%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info">Login</button>
                        </div>
                    </div>
                </form>
                <%}else{%>
                <br>
                <form class="form-horizontal" method="post" action="/adminlogin">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Username:</label>
                        <div class="col-md-10">
                            <input type="name" class="form-control" id="name" name="name" placeholder="Enter Username:">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="pwd">Password:</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="pwd" name="passwd" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info">Login</button>
                        </div>
                    </div>
                </form>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>